.gdl-blue{
    background-color: #1B6AB4;
    color: white;
}

.gdl-blue-text{
    color:  #1B6AB4;
}

.gdl-hover-blue{
    transition:all 0.3s ease;
}

.gdl-hover-blue:hover{
    background-color: #1B6AB4 !important;
    color: white !important;
}